@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .hero__image img {
    width: 75%;
  }

  .about__image img {
    width: 85%;
  }

  /* Projects Section */

  .projects__heading {
    font-size: 2.8rem;
    margin-bottom: 5rem;
  }

  .cards__container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 3rem;
  }

  .card {
    margin: 0;
    height: 350px;
  }
}

@media (min-width: 992px) {

  .container {
    max-width: 960px;
  }

  .header {
    padding: 2rem 0;
  }

  nav .hamburger {
    display: none;
  }

  nav .menu {
    flex-basis: auto;
    margin-top: 0;
    display: block;
  }

  nav .menu li {
    display: inline-block;
  }

  nav .menu li+li {
    margin-left: 1.5rem;
    margin-top: 0;
  }

  nav .menu a {
    padding: 0.5rem 1.2rem;
    display: inline-block;
    font-size: 1.05rem;
  }

  /* Hero Section */

  .hero {
    padding: 8rem 0;
  }

  .hero__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hero__text {
    flex-basis: 50%;
  }

  .hero__text .hello {
    font-size: 1.5rem;
    letter-spacing: 3px;
  }

  .hero__text .headline {
    font-size: 3.5rem;
  }

  .hero__image {
    margin: 0;
    flex-basis: 40%;
  }

  .hero__image img {
    width: 100%;
  }

  /* About Section */

  .about {
    padding: 10rem 0;
  }

  .about__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .about__text {
    flex-basis: 50%;
    order: 2;
  }

  .about__image {
    margin: 0;
    flex-basis: 40%;
    order: 1;
  }

  .about__image img {
    max-width: 110%;
    width: 110%;
  }

  /* Contact Section */

  .contact {
    padding: 7rem 0;
  }

  .contact__inner .heading {
    font-size: 2.8rem;
  }

  .contact__info {
    display: flex;
    padding: 4rem 0;
  }

  .contact__options {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact__image {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
  }

  .contact__image img {
    display: block;
    width: 50%;
  }

  .contact__options a {
    font-size: 2rem;
    padding: 0 1rem;
  }

  .creator {
    font-size: 1.5rem;
    text-align: center;
  }

  /* Scroll to Top button */

.scroll__top__btn{
  border: none;
  background-color: white;
  position: fixed;
  bottom:120px;
  right: 50px; 
  z-index: 99; 
  cursor: pointer;
  font-size: 1.8rem; 
  transition: ease 0.1s;
}

.scroll__top__btn:hover{
  transform: scale(1.1);
  transition: ease 0.1s;
  background-color: white;
}

.scroll__top__btn::-moz-focus-inner { 
  border: 0; 
}

.scroll__top__btn:active{
  outline: none;
}

.scroll__top__btn:focus{
  outline: none;
}

}

@media (min-width: 1300px) {
  .container {
    max-width: 1260px;
  }

  .hero {
    padding: 6rem 0;
  }

  .hero__text .hello {
    font-size: 1.7rem;
    letter-spacing: 4px;
  }

  .hero__text .headline {
    font-size: 4rem;
  }

  .hero__image img {
    width: 90%;
  }

  /* About Section */

  .about__title {
    font-size: 3rem;
  }

  /* Projects Section */

  .projects {
    padding: 5rem 0;
  }

  .cards__container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 3rem;
  }

  /* Contact Section */

  .contact {
    padding: 5rem 0;
  }

  .contact__options a {
    font-size: 2.5rem;
    padding: 0 1.15rem;
  }

  .creator {
    font-size: 1.6rem;
    text-align: center;
  }
}

/* Scroll to Top button */

@media (max-width: 992px) {

  .scroll__top__btn {
    display: none !important;
  }
  
}
